body {
    background-color: snow;
}
header,
main {
    min-height: 100vh;
}

main {
    border: 3rem solid $main-green;
}

.welcome {
    align-items: center;
    background-color: $main-green;
    color: $white;
    display: grid;
}

