$font-stack: "brandon-grotesque", Avenir, Helvetica, Arial, sans-serif;

html {
    font-size: 62.5%;
}

body {
    color: $black;
    font-family: $font-stack;
    font-size: 3rem;
}

form {
    
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: .75rem;
}

.bad {
    color: $bad;
}

.button {
    background-color: $main-green;
    border: none;
    border-radius: 3rem;
    color: $white;
    display: block;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin: 2rem auto 2rem;
    padding: 1rem 8rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;

    &__reverse {
        background-color: $white;
        color: $main-green;

        &:hover {
            box-shadow: 0 3px 3px $black;
        }
    }
}

.good {
    color: $good;
}

.paragraph {
    &__center {
        text-align: center;
    }
}

.question {

}

.scoreboard {
    font-size: 3rem;
}

.welcome {
    color: $white;
    text-align: center;

    &__heading {

        margin-top: 0;

        &__subheading {
            display: block;
        }
    }
}
