$font-stack: "brandon-grotesque", Avenir, Helvetica, Arial, sans-serif;

html {
    font-size: 62.5%;
}

body {
    color: $black;
    font-family: $font-stack;
    font-size: 2rem;

    @media screen and (min-width: 800px) {
        font-size: 2.5rem;
    }
}

footer {
    a {
        color: #B2E1B8;
        text-decoration: none;

        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: .75rem;
}

.bad {
    color: $bad;
}

.button {
    -webkit-animation-delay: $transition-delay;
    -moz-animation-delay: $transition-delay;
    -o-animation-delay: $transition-delay;
    animation-delay: $transition-delay;

    background-color: $main-green;
    background-image: linear-gradient(to top, #499552, #4a9f56, #4aa95a, #4ab45f, #4abe63);
    border: none;
    border-radius: 3rem;
    color: $white;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
        background-color: #4aa95a;
        background-image: none;
        color: transparentize($white, 0.1);

    }

    @media screen and (max-width: 799px) {
        font-size: 1.8rem;
        letter-spacing: 1px;
        margin: 2rem auto 2rem;
        padding: 1rem 4rem;
    }
    
    @media screen and (min-width: 800px) {
        font-size: 2.5rem;
        letter-spacing: 1px;
        margin: 2rem auto 2rem;
        padding: 1rem 8rem;
    }

    &__reverse {
        background-color: $white;
        background-image: none;
        color: $main-green;

        &:hover {
            background-color: transparentize($white, 0.1);
            background-image: none;
            color: #4aa95a;
        }
    }

    .next,
    .end-quiz {
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -o-animation-delay: 0s;
        animation-delay: 0s;
    }
}

.current-score {
    span {
        display: block;
    }
    &__label {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
    }
}

.good {
    color: $good;
}

.paragraph {
    &__center {
        text-align: center;
    }
}

.results {
    a {
        color: $main-green;
        &:hover {
            opacity: 0.7;
        }
    }
    
    .heading {
        margin: .5rem;

        @media screen and (max-width: 800px) {
            line-height: 1.2;
            margin: 1rem 0;
        }

        &__subhead {
            font-weight: 400;
        }
    }

    .paragraph {
        margin-top: 0;
    }
}

.scoreboard {
    font-size: 3rem;

    p {
        margin-top: 0;
    }
}

.question {
    font-weight: 700;    
}  

.welcome {
    color: $white;
    text-align: center;

    &__heading {
        font-size: 3rem;
        line-height: 1.3;
        margin: 0 0 2rem;
        
        @media screen and (min-width: 400px) {
            font-size: 6rem;
            margin: 0 0 4rem;
        }
        
        @media screen and (min-width: 800px) {
            font-size: 10rem;
            margin: 0 0 8rem;
        }

        &__subheading {
            display: block;
        }
    }

}
