$black: #242424;
$lightest-green: #EBFBF2;
$main-green: #499552;
$white: white;

$bad: crimson;
$good: $main-green;

$transition: all 0.5s ease-in-out;
$transition-delay: 0.5s;
$transition-duration: 1s;